In [37]:
import pandas as pd

### The goal of this project is to examine the different exchange rates between Euros and dollars throughout 1999 and 2021 üí∞üìà

In [38]:
exchange_rates = pd.read_csv("../dataset/euro-daily-hist_1999_2020.csv")
exchange_rates.head(5)

,Period\Unit:,[Australian dollar ],[Bulgarian lev ],[Brazilian real ],[Canadian dollar ],[Swiss franc ],[Chinese yuan renminbi ],[Cypriot pound ],[Czech koruna ],[Danish krone ],...,[Romanian leu ],[Russian rouble ],[Swedish krona ],[Singapore dollar ],[Slovenian tolar ],[Slovak koruna ],[Thai baht ],[Turkish lira ],[US dollar ],[South African rand ]
0,2021-05-06,1.5547,1.9558,6.4707,1.4764,1.0953,7.8054,NaN,25.847,7.4360,...,4.9264,89.8825,10.1940,1.6096,NaN,NaN,37.7120,10.0490,1.2060,17.2081
1,2021-05-05,1.5510,1.9558,6.5174,1.4731,1.0965,7.7636,NaN,25.825,7.4360,...,4.9271,89.7964,10.1945,1.6035,NaN,NaN,37.3660,10.0174,1.2005,17.3013
2,2021-05-04,1.5608,1.9558,6.5785,1.4836,1.0980,7.8136,NaN,25.841,7.4361,...,4.9275,90.2438,10.1673,1.6073,NaN,NaN,37.4750,10.0110,1.2021,17.4433
3,2021-05-03,1.5573,1.9558,6.5507,1.4807,1.1016,7.7967,NaN,25.773,7.4365,...,4.9269,90.7472,10.1803,1.6044,NaN,NaN,37.5650,10.0087,1.2044,17.3953
4,2021-04-30,1.5581,1.9558,6.4597,1.4834,1.0998,7.8134,NaN,25.883,7.4360,...,4.9285,90.7108,10.1640,1.6045,NaN,NaN,37.6480,9.9777,1.2082,17.3875

In [39]:
exchange_rates.tail(5)

,Period\Unit:,[Australian dollar ],[Bulgarian lev ],[Brazilian real ],[Canadian dollar ],[Swiss franc ],[Chinese yuan renminbi ],[Cypriot pound ],[Czech koruna ],[Danish krone ],...,[Romanian leu ],[Russian rouble ],[Swedish krona ],[Singapore dollar ],[Slovenian tolar ],[Slovak koruna ],[Thai baht ],[Turkish lira ],[US dollar ],[South African rand ]
5776,1999-01-08,1.8406,NaN,NaN,1.7643,1.6138,NaN,0.58187,34.938,7.4433,...,1.3143,27.2075,9.1650,1.9537,188.8400,42.560,42.5590,0.3718,1.1659,6.7855
5777,1999-01-07,1.8474,NaN,NaN,1.7602,1.6165,NaN,0.58187,34.886,7.4431,...,1.3092,26.9876,9.1800,1.9436,188.8000,42.765,42.1678,0.3701,1.1632,6.8283
5778,1999-01-06,1.8820,NaN,NaN,1.7711,1.6116,NaN,0.58200,34.850,7.4452,...,1.3168,27.4315,9.3050,1.9699,188.7000,42.778,42.6949,0.3722,1.1743,6.7307
5779,1999-01-05,1.8944,NaN,NaN,1.7965,1.6123,NaN,0.58230,34.917,7.4495,...,1.3168,26.5876,9.4025,1.9655,188.7750,42.848,42.5048,0.3728,1.1790,6.7975
5780,1999-01-04,1.9100,NaN,NaN,1.8004,1.6168,NaN,0.58231,35.107,7.4501,...,1.3111,25.2875,9.4696,1.9554,189.0450,42.991,42.6799,0.3723,1.1789,6.9358

In [40]:
exchange_rates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5781 entries, 0 to 5780
Data columns (total 41 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Period\Unit:              5781 non-null   object
 1   [Australian dollar ]      5781 non-null   object
 2   [Bulgarian lev ]          5379 non-null   object
 3   [Brazilian real ]         5513 non-null   object
 4   [Canadian dollar ]        5781 non-null   object
 5   [Swiss franc ]            5781 non-null   object
 6   [Chinese yuan renminbi ]  5513 non-null   object
 7   [Cypriot pound ]          2346 non-null   object
 8   [Czech koruna ]           5781 non-null   object
 9   [Danish krone ]           5781 non-null   object
 10  [Estonian kroon ]         3130 non-null   object
 11  [UK pound sterling ]      5781 non-null   object
 12  [Greek drachma ]          520 non-null    object
 13  [Hong Kong dollar ]       5781 non-null   object
 14  [Croatian kuna ]          5513 non-null   object
 15  [Hungarian forint ]       5781 non-null   object
 16  [Indonesian rupiah ]      5781 non-null   object
 17  [Israeli shekel ]         5513 non-null   object
 18  [Indian rupee ]           5513 non-null   object
 19  [Iceland krona ]          3374 non-null   float64
 20  [Japanese yen ]           5781 non-null   object
 21  [Korean won ]             5781 non-null   object
 22  [Lithuanian litas ]       4159 non-null   object
 23  [Latvian lats ]           3904 non-null   object
 24  [Maltese lira ]           2346 non-null   object
 25  [Mexican peso ]           5781 non-null   object
 26  [Malaysian ringgit ]      5781 non-null   object
 27  [Norwegian krone ]        5781 non-null   object
 28  [New Zealand dollar ]     5781 non-null   object
 29  [Philippine peso ]        5781 non-null   object
 30  [Polish zloty ]           5781 non-null   object
 31  [Romanian leu ]           5719 non-null   float64
 32  [Russian rouble ]         5781 non-null   object
 33  [Swedish krona ]          5781 non-null   object
 34  [Singapore dollar ]       5781 non-null   object
 35  [Slovenian tolar ]        2085 non-null   object
 36  [Slovak koruna ]          2608 non-null   object
 37  [Thai baht ]              5781 non-null   object
 38  [Turkish lira ]           5719 non-null   float64
 39  [US dollar ]              5781 non-null   object
 40  [South African rand ]     5781 non-null   object
dtypes: float64(3), object(38)
memory usage: 1.8+ MB

In [41]:
exchange_rates.rename(columns={'[US dollar ]': 'US_dollar', 'Period\\Unit:': 'Time'}, inplace=True)
exchange_rates['Time'] = pd.to_datetime(exchange_rates['Time'])
exchange_rates.sort_values('Time', inplace=True)
exchange_rates.reset_index(drop=True, inplace=True)

In [42]:
euro_to_dollar = exchange_rates.loc[:,["US_dollar", "Time"]]
euro_to_dollar["US_dollar"].value_counts()

-         62
1.2276     9
1.1215     8
1.1305     7
1.3532     6
          ..
1.4473     1
1.4654     1
0.9738     1
1.0678     1
0.8494     1
Name: US_dollar, Length: 3549, dtype: int64

### As we can see, the `US dollars` column contains some null values (`-` values above). Those values will be dropped and the column will be transformed into `float` type üïµüèª‚Äç‚ôÇÔ∏è

In [48]:
euro_to_dollar = euro_to_dollar.loc[euro_to_dollar["US_dollar"]!= '-',:]
euro_to_dollar.dropna(inplace=True)
euro_to_dollar["US_dollar"] = pd.to_numeric(euro_to_dollar["US_dollar"], errors='coerce').astype('float64')

TypeError: convert_dtypes() got an unexpected keyword argument 'convert_floating'